@page "/button"

<h1>Generated GUI!</h1>

<div>
    @if (ClickPosition != null)
    {
        @($"[{ClickPosition.x}, {ClickPosition.y}]")
    }
    else
    {
        @("[click button]")
    }
    <canvas id="game-window" style="width:100%"></canvas>
</div>