@page "/pirate-fort"

<h1>Pirate Fort</h1>

<div>A TS to C# Conversion for <a href="https://playground.babylonjs.com/#C21DGD" target="_blank">Pirate Fort</a></div>

<div>
    <canvas id="game-window" style="width:100%"></canvas>
</div>